<%= form_for(@ad, as: :announce) do |f| %>
  <% if @ad.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ad.errors.count, "error") %> prohibited this ad from being saved:</h2>

      <ul>
      <% @ad.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :link %><br>
    <%= f.text_field :link, class: "form-control", placeholder: "Kijiji ad link" %>
  </div>
  <div class="field form-group">
    <%= f.label :repost_time %><br>
    <%= f.time_select :repost_time, class: "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-primary"%>
  </div>
<% end %>
